---
layout: default
layout-type: #container | container-fluid
custom-stylesheet: 
transition: fade

faq: true

---

<div class="heading">
    <h1>Solutions we crafted to make human lives easier.</h1>
</div>


<ul class="list-unstyled">
    {% for work in site.works %}
        <li class="py-5">
            <div class="row">
                <div class="col-lg-7">
                    <img class="img-fluid" loading="lazy" src="{{ site.baseurl }}/assets/img/{{ work.title | downcase | replace: ' ','-' }}.png" alt="" />
                    <!-- {% if work.thumbnail %}
                        <img class="img-fluid" loading="lazy" src="{{ site.baseurl }}/assets/img/{{ work.thumbnail }}" alt="" />
                        {% else %}
                        <img class="img-fluid" loading="lazy" src="https://dummyimage.com/1200X4:3/fafafa.png" alt="" />
                    {% endif %} -->
                </div>
                
                <div class="col-lg-5 align-self-center">
                    <!-- <ul class="list-inline">
                        {% for tag in work.tags %}
                            <li class="list-inline-item"><span class="badge badge-primary">{{ tag }}</span></li>
                        {% endfor %}
                    </ul> -->
                    <h3 class="card-title"><b>{{ work.client }}</b></h3>
                    <p class="card-text">{{ work.description }}</p>
                    <a href="{{ work.url }}">Show Case Study</a>
                    {% if work.live-site %}
                        <a target="_blank" href="{{ page.live-site }}">View Site</a>
                    {% endif %}

                </div>
            </div>
        </li>
    {% endfor %}
</ul>

























<!-- 


<div class="card-columns">
    {% for work in site.works %}
        <a class="card shadow-sm" id="{{ work.name }}" target="_blank" href="{{ work.external-url | default: work.url }}">
            {% if work.thumbnail %}
                <img class="card-img-top" loading="lazy" src="{{ site.baseurl }}/assets/img/{{ work.thumbnail }}" alt="" />
                {% else %}
                <img class="card-img-top" loading="lazy" src="https://dummyimage.com/1600x1200/fafafa/fafafa.png" alt="" />
            {% endif %}
            <div class="card-body">
                <ul class="list-inline">
                {% for tag in work.tags %}
                    <li class="list-inline-item">{{ tag }}</li>
                {% endfor %}
                </ul>
                <h6 class="card-title h4"><b>{{ work.client }}</b></h6>
                <p class="card-text lead">{{ work.description }}</p>
            </div>
        </a>
    {% endfor %}
</div> -->
