<div class="wrapper">
  <div class="container">
    <div class="heading">
      <h1>FAQs.</h1>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do you provide only design for my project, or development as well?</button>
          </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            We usually advice to build the design and development from a single source. During the past years, we have perfected the way our designers and developers work together to provide the most efficient output. Although we love to be involved in all steps along the way, we also provide design-only/development-only work for certain projects. Please get in touch with us to discuss your project.
          </div>
        </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How much does my project cost and how long will it take?</button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                As each project is unique, and so is our team that works on it, we are not able to provide a general answer to this question. The total pricing depends on the project scope, timeline and the team setup. When your project is rather dynamic and the deliverables are not set, we prefer engagements based on time and material, where you simply pay us for the hours/days we spent working on your project. The majority of our engagements are fixed-price/days contracts. After getting to know your project as best as possible, we provide a detailed proposal, containing timeline, team setup and cost involved based on the scope provided. Easiest and fastest solution is to get in contact with us, provide some information about your project and receive an estimation from us to start with.
            </div>
          </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Do you posses the knowledge to help me with my project?</button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Honest answer is: we don’t know until you tell us what your project is about. We have gained a lot of experience during the past years working with global brands like Coca-Cola, Allianz or Metro, but also with startup’s in the US or Canada. We have already provided solutions for almost all industries and we have talented people with a lot of expertise at Fintory. Please get in touch and we are pretty sure to find a way to support you and your project.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How can I get a proposal?</button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Please contact us here with a first summary/overview of your project or a RFI/FRP. We aim to reply within 24 hours to either schedule a first introductory call or ask any immediate questions we might have. During the call, we will ask questions regarding project goals, target audience, budget and timeline & further discuss the next steps together with you. We do not mind signing an NDA, but we assure to treat all client information confidential. After our call, we discuss your project internally with all involved people (e.g. designer, developers, project managers) and email you a proposal with a description of our approach, project phases, team composition and timeline.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>